flows/homework_3&4.yaml
id: count_rows_from_csv
namespace: zoomcamp
description: |
  Download all CSV files for a year and count total rows without loading to BigQuery
  This is generated by Claude. But I think it's really cool! ：）

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green

  - id: year
    type: STRING
    displayName: Year
    defaults: "2020"

tasks:
  - id: download_and_count
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        #!/bin/bash
        set -e
        
        total_rows=0
        successful_months=0
        
        echo "Starting to process {{inputs.taxi}} taxi data for {{inputs.year}}"
        echo "================================================================="
        echo ""
        
        # Loop through all 12 months
        for month in 01 02 03 04 05 06 07 08 09 10 11 12; do
          file="{{inputs.taxi}}_tripdata_{{inputs.year}}-${month}.csv"
          url="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/${file}.gz"
          
          echo "Month ${month}: Downloading ${file}.gz..."
          
          # Download and decompress
          if wget -q -O "${file}.gz" "${url}"; then
            gunzip -f "${file}.gz"
            
            # Count total lines and subtract header
            total_lines=$(wc -l < "${file}")
            rows=$((total_lines - 1))
            
            echo "Month ${month}: ${rows} data rows (${total_lines} total lines including header)"
            
            total_rows=$((total_rows + rows))
            successful_months=$((successful_months + 1))
            
            # Clean up
            rm -f "${file}"
          else
            echo "Month ${month}: WARNING - File not found or download failed"
          fi
          echo ""
        done
        
        echo "================================================================="
        echo "SUMMARY for {{inputs.taxi}} taxi in {{inputs.year}}"
        echo "================================================================="
        echo "Successfully processed: ${successful_months} months"
        echo "Total data rows: ${total_rows}"
        echo "================================================================="
        
        # Save results
        echo "${total_rows}" > total_rows.txt
        echo "{{inputs.taxi}}" > taxi_type.txt
        echo "{{inputs.year}}" > year.txt
        echo "${successful_months}" > months_processed.txt
    outputFiles:
      - total_rows.txt
      - taxi_type.txt
      - year.txt
      - months_processed.txt

  - id: display_result
    type: io.kestra.plugin.core.log.Log
    message: |
      
      ================================================================
      FINAL RESULT
      ================================================================
      Taxi Type: {{ read(outputs.download_and_count.outputFiles['taxi_type.txt']) }}
      Year: {{ read(outputs.download_and_count.outputFiles['year.txt']) }}
      Months Processed: {{ read(outputs.download_and_count.outputFiles['months_processed.txt']) }}
      Total Rows: {{ read(outputs.download_and_count.outputFiles['total_rows.txt']) }}
      ================================================================